@{
    var errorMessage = ViewData["ErrorMessage"];
}

<h3>@errorMessage</h3>
<h6>Click the button below to return to the Home page</h6>
<a asp-action="Index" asp-controller="Store" class="btn btn-primary"></a>