.a-cleanup {
    color: inherit;
}

.a-cleanup:hover {
    text-decoration: none;
    color: inherit;
}

.card-img-custom {
    width: 100%;
    height: 26vw;
    object-fit: cover;
}

.store-card {
    transition: all 0.2s ease;
}

.store-card:hover {
    transform: scale(1.03);
    box-shadow: lightgray 2px 5px 5px 2px;
}

.store-btn {
    transition: all 0.2s ease;
}

.store-btn:hover {
    background-color: forestgreen;
    border: 1px solid forestgreen;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}